body {
  background-color: #fff;
}

section.hero-section {
  background-image: linear-gradient(119deg, #3152a7, #4064c0);
}

.full-width {
  width: 100%;
}

.color-bg {
  background-color: #f8fbfb;
}
