* {
  box-sizing: border-box;
  }

/* --------------------- GLOBAL STYLES --------------------- */
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #F2F5F5;
  background-size: cover;
  background-image: url("img/big-bg.png");
  background-repeat: no-repeat;
}

.mobile-hidden {
  display:none;
}

.container-full {
  padding: 0 6.4rem;
}

.container-small {
  padding: 0 6.4rem;
}

img {
  max-width: 100%;
  height: auto;
}

picture {mix-blend-mode: darken;}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 4.8rem;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  color: #C6C8CC;
    transition: 0.3s;
}

#topBtn:hover {
  color: #424A56;
}


/* --------------------- Contact Icons --------------------- */

.contact-icons a{
  color: #FFF;
  margin-right: 2.0rem;
}

.contact-icons a:hover{
  color: #017F82;
  transition: 0.3s;
}

/* --------------------- TYPOGRAPHY --------------------- */

.teal {
  color:#017F82;
}

.text-center {
  text-align: center;
}

h1, h2, h3, h4, h5, li.list-heading {
  color: #2F3845;
  font-family: 'Lustria', serif;
}


/* Mobile sizes */

h1 {
  font-size: 2.8rem;
  letter-spacing: -0.1rem;
  line-height: 4.0rem;
  margin-bottom: 3.2rem;
}

h2 {
  font-size: 2.4rem;
  letter-spacing: 0;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}

h3 {
  font-size: 2.0rem;
  letter-spacing: 0;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}

h4 {
  font-size: 1.8rem;
  letter-spacing: 0;
  line-height: 1.5;
  padding: 3.6rem 0rem 2.4rem 0rem;
}

h5 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 2;
  margin-bottom: 2.4rem;
}

h6 {
  color: #2F3845;
  opacity: .2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 6.4rem;
  letter-spacing: 0.2rem;
  line-height: 3.6rem;
  margin-bottom: 6.4rem;
  text-transform: uppercase;
}

p {
  color: #2F3845;
  font-family: 'Open Sans', sans-serif;
}

p.paragraph-large {
  font-size: 2.0rem;
  letter-spacing: 0;
  line-height: 1.6;
  margin-bottom: 6.4rem;
}

p.paragraph-medium, .button {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.5;
}

p.paragraph-medium-bold {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.5;
  padding-bottom: 1.6rem;
}

p.paragraph-medium {
  margin-bottom: 1.8rem;
}


.paragraph-small, .details-column ul li{
  font-family: 'OpenSans', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0;
  line-height: 2;
  margin-bottom: 1.6rem;
}

p.copyright-text {
  font-family: 'OpenSans', sans-serif;
  font-size: 1.0rem;
  color: rgba(107,125,126,0.80);
  letter-spacing: 0;
  line-height: 2.0rem;
}

caption {
  font-family: 'OpenSans', sans-serif;
  font-size: 1.2rem;
  color: rgba(107,125,126,0.80);
  letter-spacing: 0;
  line-height: 2.0rem;
}


blockquote {
    color: #017F82;
    font-family: Lustria, serif;
    font-size: 1.8rem;
    line-height: 1.7;
    letter-spacing: normal;
}



/* --------------------- HEADER SECTION --------------------- */
header {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
    color: #017F82;
    font-size: 1.4rem;
    opacity: 1;
}
/* --------------------- NAV BAR --------------------- */

/* Basic nav styling */

nav {
  padding: 1.0rem 2.8rem;
}

ul {
  list-style-type: none;
}

a {
  color: #2F3845;
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  text-decoration: none;
  transition: 0.3s;
}

a:hover{
  color: #017F82;
}

.logo a {
  text-decoration: none;

}

.menu li {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0rem;
  line-height: 2.1rem;
  padding: 2.0rem;
}

.menu li.logo, li.toggle{
  padding: 1.0rem 0rem;
}

/* resume */

  .selected {
    padding-bottom: .4rem;
    border-bottom: 4px solid #C6C8CC;
   }

   .selected:hover {
     padding-bottom: .4rem;
     border-bottom: 4px solid #017F82;
   }

   .selected-light {
     padding-bottom: .4rem;
     border-bottom: 4px solid #FFF;
    }

    .selected-light:hover {
      padding-bottom: .4rem;
      border-bottom: 4px solid #FFF;
     }

.cv {
  border: 2px solid #2F3845;
  border-radius: .4rem;
  padding: 1.6rem 3.2rem;
  color: #2F3845;
}

.cv:hover {
  border: 2px solid #017F82;
  border-radius: .4rem;
  padding: 1.6rem 3.2rem;
}

.cv-light {
  border: 2px solid #FFF;
  border-radius: .4rem;
  padding: 1.6rem 3.2rem;
  color: #FFF;
}

.cv-light:hover {
  opacity: .7;
}

/* Reversed basic styling */
a.light {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  text-decoration: none;
  transition: 0.3s;
}

a.light:hover{
  opacity: .7;
}


/* Mobile */

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item {
  width: 100%;
  text-align: center;
  order: 2;
  display:none;
}

.item.active {
  display:block;
}


.hero-text {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 8.0rem;
}

.cs-hero {
  min-height: auto;
}

.more-arrow {
  position: relative;
  }

.more-arrow i {
  position: absolute;
  bottom: 9.6rem;
  font-size: 2.4rem;
  color: #C6C8CC;
}

.more-arrow i:hover {
  position: absolute;
  bottom: 9.6rem;
  font-size: 2.4rem;
  color: #424A56;
  transition: 0.3s;
}

/* --------------------- Projects --------------------- */
.project {
  width: 100%;
  min-height: 100vh;
}
.casestudy-text {
  text-align: center;
  max-width: 75%;
  margin: auto;
}

h6.casestudy-text {
  color: #017F82;
  margin-bottom: 1.2rem;
}

.view-casestudy-btn {
  background-color: #017F82;
  border: 0rem;
  border-radius: .4rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  height: 4.8rem;
  margin-bottom: 4.8rem;
  padding: 1.2rem 3.2rem 1.6rem 3.2rem;
  transition: 0.3s;
  width: auto;
}


.view-casestudy-btn:hover {
  background-color: #017F82;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  color: #FFF;
}

.button, .view-casestudy-btn a, .mobile-proto-btn a, .focal-std-btn a{
  color: #FFF;
  font-weight: 600;
  line-height: 0rem;
  letter-spacing: -0.02rem;
}


.casestudy-image img{
  display: block;
  margin: auto;
  position: relative;
  right: 10%;
  width:100%;
  max-width: 38.6rem;
  padding-top: 4.8rem;

}

/* --------------------- FOOTER --------------------- */
footer {
  background-color: #2F3845;
  padding: 6.4rem 2.8rem 2.8rem 2.8rem;
  text-align: center;
}

.footer-content {
  padding-top: 4.8rem;
}

.footer-content h2, .footer-content p {
  color: #FFF;
}

.copyright {
  padding: 4.8rem 0rem 0rem 0rem;
  letter-spacing: 1.0rem;
}

.copyright p{
  color: #FFF;
  opacity: .6;
}



/* --------------------- MEDIA QUERIES - TABLET - 767px --------------------- */
@media all and (min-width: 769px) {

  /* Type Size */
    h1 {
      font-size: 3.6rem;
      line-height: 1.5;
      margin-bottom: 3.6rem;
    }

    h2 {
      font-size: 3.2rem;
      letter-spacing: 0;
      line-height: 1.5;
      margin-bottom: 1.6rem;
    }

    h3 {
      font-size: 2.4rem;
      letter-spacing: 0;
      line-height: 4.8rem;
      margin-bottom: 1.6rem;
    }




  /* navigation menu */
    .item {
      display: block;
      width: auto;
    }

    .toggle {
      display: none;
    }

    .logo {
      flex: 1;
      order: 0;
    }

    .item {
      order: 1;
    }

  /* containers */
    .container-full {
      margin:auto;
      max-width: 117rem;
    }

    .container-small {
      margin:auto;
      max-width: 57rem;
    }


  /* header text */
    .mobile-hidden {
      display: block;
    }

    .more-arrow {
      position: relative;
      order:2;
      }

  /* projects */
  .project {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0rem 2.8rem;
  }

  .casestudy-text{
    align-self: center;
    flex-basis: 45%;
    margin: 0rem;
    text-align: left;
  }

  .casestudy-text p {
    margin-bottom: 6.4rem;
  }

  .casestudy-image {
    align-self: center;
  }

}




/* --------------------------------------------------------------- Case Study CSS --------------------------------------------------------------- */




.casestudy-body {
  background-color: #fff;
}

/* --------------------- PAGE STYLES --------------------- */


.hero-section {
  background-image: url("/Users/j_colville/GRAPHIC-DESIGN-RELATED/BLOC/Module15-Portfolio/portfolio/img/focal/hero-shapes.png"), linear-gradient(119deg, #3152a7, #4064c0);
}

.full-width {
  width: 100%;
  margin: 8.0rem 0rem;
}

.color-bg {
  background-color: #F2F5F5;
  padding: 8.0rem 0rem;
}

.focal-std-btn {
  background-color: #3658AF;
  border: 0rem;
  border-radius: .4rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: block;
  height: 4.8rem;
  margin:3.2rem 0.8rem 4.8rem 0.8rem;
  padding: 2.4rem 1.6rem 1.6rem 1.6rem;
  text-align: center;
  transition: 0.3s;
  width: 100%;
}

.focal-std-btn:hover {
  color: #FFF;
  opacity: 0.8;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.stacked-btn {
  margin-bottom:2.4rem;
  margin-top:2.4rem;
}

.h4-focal {
  color: #6587E0;
}


blockquote {
  margin: 4.8rem 0;
  color: #284CAC;
}


/* --------------------- HEADER --------------------- */

/* structure */


.hero-content {
  color: #FFF;
  display: flex;
  flex-direction: column;
  padding: 9.6rem 2.8rem 0rem 2.8rem;
}

/* Text Content */
.main-content{
  text-align: center;
  padding: 0 2.8rem;
}

.main-content h1, .main-content p{
  color: #FFF;
}

/* button */
a.mobile-proto-btn {
  background-color: #FDC35D;
  border: 0rem;
  border-radius: .4rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  height: 4.8rem;
  padding: 1.2rem 3.2rem 1.6rem 3.2rem;
  transition: 0.3s;
  width: 100%;
  margin: auto;
  margin-bottom: 4.8rem;
}

a.mobile-proto-btn {
  color: #284CAC;
}

.button.mobile-proto-btn:hover {
  background-color: #FDD892;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}


/* Details */

.details-bg {
  background-color: rgba(7,0,0,0.25);
}



.details-column ul{
  margin-bottom: 4.8rem;
}

.details-column ul li{
  color: #FFF;
  line-height: 2;
  font-size: 1.4rem;
  margin-bottom: 0rem;
}

.details-column ul li.list-heading {
  color: #FFF;
  font-family: 'Lustria', serif;
  font-size: 1.8rem;
  letter-spacing: 0;
  line-height: 3.2rem;
  margin-bottom: 1.6rem;
}

.project-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  padding: 4.8rem 0rem;
  text-align: center;

}

.middle{
  padding: 0 15%;
  border-right: 4px solid rgba(255, 255, 255, 0.05);
  border-left: 4px solid rgba(255, 255, 255, 0.05);
}

/* image */
.hero-image {
  align-self: flex-end;
  padding-top: 4.8rem;
}

.hero-image img{
  display: block;
  margin: auto;
  position: relative;
  right: 10%;
}
/* --------------------- MAIN STYLES --------------------- */

section {
  padding-top: 9.6rem;
}

.project-header {
  margin-bottom: 4.8rem;
  color: #284CAC;
}

/* --------------------- DISCOVERY --------------------- */

.solution {
  padding-bottom: 9.6rem;
}

/* User Research */
.col-3-grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

/*
.survey-data {
  display: flex;
  flex-direction: row;
  padding-bottom: 6.4rem;
}
*/

.stat {
  padding: 2.4rem 2.4rem;
}

.stat-number {
  color: #325ED5;
  font-size: 4.8rem;
  text-align: center;
  padding-bottom: 1.0rem;
}

.stat-caption {
  color: #325ED5;
  font-size: 1.8rem;
  text-align: center;
}



/* Pain Points */

blockquote {
  border-top: 1px solid rgba(107,125,126,0.2);
  padding: 4.8rem 2.8rem 0rem 2.8rem;
  margin-top: 6.4rem;
}

/*Competitive Analysis */

.competitive-analysis img {
  width: 100%;
  max-width: 36rem;
  margin: auto;
  display: block;
  padding-bottom: 6.4rem;
  padding-top: 4.8rem;
}

/* User Personas */
.user-persona {
  padding-top: 9.6rem;
}

.user-persona-intro {
    margin-bottom: 6.4rem;
}

.persona-card h4 {
  padding:0;
}

.persona-card{
  margin-bottom: 6.4rem;
}

.persona-card {
  padding: 4.8rem;
  border-radius: .4rem;
  background-color:
  #FFF;
  box-shadow: 0 10px 15px -3px
  rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.persona-card img {
  display: block;
  margin-bottom: 2.4rem;
}

/* Project Goals */

.project-goals {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.col-2-grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

/* --------------------- INFO ARCHITECTURE --------------------- */

/* User Stories */

.info-arch-intro {
  margin-bottom: 9.6rem;
}

.user-stories {
  display: flex;
  flex-direction: column;
  padding-bottom: 19.2rem;
}

.high-priority, .medium-priority, .low-priority {
  padding: 4.8rem;
  border-top: .4rem solid;
  border-radius: .4rem;
  background-color: #FFF;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.high-priority {
  border-color: #17a035;
}


.medium-priority {
  border-color: #fdc35d;
  margin: 4.8rem 0rem;
}

.low-priority {
  border-color: #a01717;
}

/* --------------------- PROTOTYPES --------------------- */

.wireframe-img {
  display: grid;
  grid-template-rows: auto auto;
  margin-top: 8.0rem;
  margin-bottom: 4.8rem;
}

.low-fi-caption {
  padding: 4.8rem;
  background-color: #2F3845;
}

.low-fi-caption h4,  .low-fi-caption p {
  color: #FFF;
}

.high-fidelity {
  padding-top: 9.6rem;
  padding-bottom: 4.8rem;
}

.focal-std-btn .stacked-btn {
  margin: 0rem;
}

.phone-img {
  align-self: baseline;
  padding-bottom: 4.8rem;
}

.phone-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.phone-img p{
  text-align: center;
  padding: 0 2.8rem;
}

.button-flex {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 8rem;
}

.button-flex a {
  flex-basis: 49%;
}

/* --------------------- FINAL THOUGHTS --------------------- */
.final-thoughts {
  padding-bottom: 6.4rem;
  margin: 0;
}



/* --------------------- MEDIA QUERIES - TABLET - 767px --------------------- */
@media all and (min-width: 767px) {

  a.focal-std-btn {
    display: block;
    width: 100%;
    min-width: 21rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }




  .hero-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0rem;
  }

  .main-content {
    text-align: left;
    flex-basis: 75%;
  }

  .button.mobile-proto-btn {
    width:auto;
  }

  .project-details {
    flex-direction: row;
  }

  .details-column {
    padding-top: 4.8rem;
  }

  .hero-image{
    align-self: center;
    min-width: 34.6rem;
  }

  /* --------------------- SNAPSHOT --------------------- */

  .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .problem {
    width: 57rem;
    padding-right: 2rem;
    margin-bottom: 4.8rem;
  }

  .snapshot div {
    margin-bottom: 9.6rem;
  }

  /* User Research */

  .col-3-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* User Personas */

  .persona-card {
    align-self: stretch;
    padding-bottom: 4.8rem;
    text-align: center;
  }

  .persona-card h4 {
    margin: 0;
    padding: 0;
  }

.paragraph-medium-bold {
    padding-bottom: 1.4rem;
    padding-top: 1.4rem;
  }

  .persona-card img {
    margin: auto;
    margin-bottom: 2.4rem;
  }

  .persona-card ul li {
    font-family: 'OpenSans', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0;
    line-height: 1.8rem;
    margin-bottom: 2.4rem;
  }


  /* Project Goals */

  .col-2-grid-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.2rem;
    align-items: start;
  }

  .project-goals div {
    flex-direction: row;
    padding: 0 2.4rem;
  }

  /* User Stories */
  .user-stories {
    flex-direction: row;
  }
  .high-priority, .medium-priority, .low-priority {
    width: 33.33%;
  }

  .medium-priority {
    margin: 0 4.8rem;
  }



  /* --------------------- PROTOTYPING --------------------- */

/* ----- Wireframes ---- */
  .wireframe-img {
    flex-direction: row;
      }

/* high-fidelity */
  .phone-img {
    width: 33%;
  }

  .phone-img img{
    width: 100%;
  }
  .button-flex {
    flex-direction: row;
  }



}


/* --------------------------------------------------------------- ABOUT PAGE --------------------------------------------------------------- */

.headshot-img {
  display: block;
  margin: 0 auto;
  margin-top: 2.4rem;
  margin-bottom: -4.8rem;
  width: 75%;
}

hr {
  border-top: 1px solid rgba(107,125,126,0.2);
  margin-bottom: 4.8rem;

}

.about-main {
  display: flex;
  flex-direction: row;
}

.background {
  width: auto;
  max-width: 60%;
  margin-right: 9.6rem;
}

.skills {
  padding-left: 3rem;
  width: 25%;
}

.entry {
  padding: 2.4rem 0 4.8rem 0;
}

@media all and (max-width: 767px) {

  .about-main {
    flex-direction: column;
  }

  .background {
    width: auto;
    max-width: 100%;
    margin-right: 0rem;
  }

  .skills {
    padding-left: 0rem;
    width: 100%;
  }

  .entry {
    padding: 1.2rem 0 2.4rem 0;
  }


}
